body {
	margin: 0 ;
	padding: 0;
}
#loginArea{
	margin: auto;
	background: url(../images/login-bg.jpg) no-repeat;
	width:1024;
	height:630;
}

.login-icon{
	background: url(../images/login.png) no-repeat !important;
}

.btn-login{
	background: url(../images/blogin.png) no-repeat !important;
}

.btn-login-reset{
	background: url(../images/login-reset.png) no-repeat !important;
}